In [2]:
import numpy as np
import pandas as pd
import string, xlrd, nltk, unicodedata, pickle, os, re, time
import xml.etree.cElementTree as ET
from nltk import word_tokenize
from collections import defaultdict, Counter
import difflib

from bs4 import BeautifulSoup

In [3]:
df = pd.DataFrame(np.random.randint(5, 10, size=10), columns=["Numbers"])
df

   Numbers
0        5
1        5
2        9
3        8
4        5
5        6
6        7
7        5
8        9
9        6

In [4]:
unique_rows = df.index.tolist()
i = 0
while i<len(unique_rows)-1:
    j = i+1
    while j<len(unique_rows):
        print ("i is", i, "and j is", j)
        print (df.Numbers[unique_rows[i]], df.Numbers[unique_rows[j]])
        if df.Numbers[i]==df.Numbers[j]:
            unique_rows = unique_rows[:j] + unique_rows[j+1:]
            print (unique_rows)
        else:
            j += 1
    i += 1
unique_rows

i is 0 and j is 1
5 5
[0, 2, 3, 4, 5, 6, 7, 8, 9]
i is 0 and j is 1
5 9
[0, 3, 4, 5, 6, 7, 8, 9]
i is 0 and j is 1
5 8
[0, 4, 5, 6, 7, 8, 9]
i is 0 and j is 1
5 5
[0, 5, 6, 7, 8, 9]
i is 0 and j is 1
5 6
[0, 6, 7, 8, 9]
i is 0 and j is 1
5 7
[0, 7, 8, 9]
i is 0 and j is 1
5 5
[0, 8, 9]
i is 0 and j is 1
5 9
[0, 9]
i is 0 and j is 1
5 6
[0]

[0]

In [5]:
df.reindex(unique_rows)

   Numbers
0        5

In [6]:
df.reindex(unique_rows)

   Numbers
0        5

In [7]:
df2 = df.reindex([4, 5, 8])
df2

   Numbers
4        5
5        6
8        9

In [8]:
df

   Numbers
0        5
1        5
2        9
3        8
4        5
5        6
6        7
7        5
8        9
9        6

In [9]:
l2 = [1, 2, 3, 4, 5]
l2[:2] + l2[3:]

[1, 2, 4, 5]

In [37]:
ix=['alpha', 'beta', 'gamma', 'delta', 'epsilon']
cols = ['A', 'B', 'C', 'D']
df1 = pd.DataFrame(np.arange(20).reshape(5, 4), index=ix)
df1.columns = cols
#df1.index.name = 'Indekset'
df1.rename(columns={'C': 'Dette er kolonne C'}, inplace=True)
#df1 = df1.rename(index={'gamma': 'Charlie'})
df1

          A   B  Dette er kolonne C   D
alpha     0   1                   2   3
beta      4   5                   6   7
gamma     8   9                  10  11
delta    12  13                  14  15
epsilon  16  17                  18  19

In [46]:
df1.loc['beta', 'D'] = None

In [47]:
df1

          A   B  Dette er kolonne C   D
alpha     0   1                   2   3
beta      4   5                   6 NaN
gamma     8   9                  10  11
delta    12  13                  14  15
epsilon  16  17                  18  19

In [49]:
df1.dropna()

          A   B  Dette er kolonne C   D
alpha     0   1                   2   3
gamma     8   9                  10  11
delta    12  13                  14  15
epsilon  16  17                  18  19

In [52]:
df1.fillna('Wait for it...')

          A   B  Dette er kolonne C               D
alpha     0   1                   2               3
beta      4   5                   6  Wait for it...
gamma     8   9                  10              11
delta    12  13                  14              15
epsilon  16  17                  18              19

In [53]:
df1

          A   B  Dette er kolonne C   D
alpha     0   1                   2   3
beta      4   5                   6 NaN
gamma     8   9                  10  11
delta    12  13                  14  15
epsilon  16  17                  18  19

In [68]:
df1.rename(columns={'D': 'NixNix'}, inplace=True)
df1.fillna(666)
df1['Dette er kolonne C'].map(lambda x: x*15)

alpha       30
beta        90
gamma      150
delta      210
epsilon    270
Name: Dette er kolonne C, dtype: int64

In [129]:
df1['textKolonne'] = ["text 1", "text2", "text3", "text4", "text5"]
df1

          A   B  Dette er kolonne C  NixNix textKolonne
alpha     0   1                   2       3      text 1
beta      4   5                   6     NaN       text2
gamma     8   9                  10      11       text3
delta    12  13                  14      15       text4
epsilon  16  17                  18      19       text5

In [123]:
def capitalizeString(x):
    if type(x) is str:
        return x.upper()

In [124]:
df1.ix[:'gamma', 'Dette er kolonne C':]

       Dette er kolonne C  NixNix textKolonne
alpha                   2       3      text 1
beta                    6     NaN       text2
gamma                  10      11       text3

In [130]:
df1.apply(capitalizeString)

A                     None
B                     None
Dette er kolonne C    None
NixNix                None
textKolonne           None
dtype: object

In [128]:
df1

          A   B  Dette er kolonne C  NixNix textKolonne
alpha     0   1                   2       3         NaN
beta      4   5                   6     NaN         NaN
gamma     8   9                  10      11         NaN
delta    12  13                  14      15         NaN
epsilon  16  17                  18      19         NaN

In [114]:
"adf".upper()

'ADF'

In [149]:
df = pd.DataFrame(np.random.rand(4,5), columns = list('abcde'))
df

          a         b         c         d         e
0  0.528037  0.182646  0.247065  0.628834  0.807082
1  0.342473  0.474402  0.698365  0.091071  0.336338
2  0.199899  0.658124  0.581910  0.226987  0.407663
3  0.171871  0.379146  0.350749  0.426596  0.682109

In [151]:
df[df['c']>0.5].ix[:, ['b', 'e']]

          b         e
1  0.474402  0.336338
2  0.658124  0.407663